/**
 *
 * custom styling for chart flot
 *
 */

#website-stats,
#flotRealTime,
#ordered-bars-chart,
#combine-chart-container {
	height: 320px;
}

#donut-chart-container,
#pie-chart-container {
	height: 260px;
}