body {
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	overflow: auto;
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.pl-0 {
	padding-left: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.card-white {
	background: #ffffff;
	box-shadow: 1px 1px 24px 6px rgba(0, 0, 0, 0.06), 1px 1px 24px 6px rgba(0, 0, 0, 0.02);
	padding: 20px 0;
}

.navbar {
	max-height: 88px;
}

.top_nav .navbar-brand img {
	width: 150px;
}
.navbar-default {
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	margin-bottom: 2px;
}

.navbar-right li a img {
	width: 50px;
}

.navbar-right .welc_txtWrp .welcom {
	font-size: 16px;
	font-weight: 500;
}

.navbar-right .welc_txtWrp .welcom_usrnme {
	font-size: 30px;
    font-weight: 500;
}

#wrapper .btm_menu {
	background: #ffffff;
	box-sh/adow: 1px 1px 24px 6px rgba(0, 0, 0, 0.06), 1px 1px 24px 6px rgba(0, 0, 0, 0.02);
	bo/rder: 1px solid transparent;
	bor/der-radius: 12px;
	padding: 8px 0;
	mar/gin-bott/om: 40px;
}

#wrapper .btm_menu .menus_wrp ul {
	margin-bottom: 0;
}

#wrapper .btm_menu .menus_wrp ul li {
	list-style-type: none;
	display: inline-block;
}

#wrapper .btm_menu .menus_wrp ul .child_br {
	border-right: 2px solid #000;
}

#wrapper .btm_menu .menus_wrp ul li .menu_one {
	margin: 0 40px; 
}

.btm_menu .menus_wrp .single_menu .menu_imgtxt img {
	width: 20px;
	margin-right: 12px;
}

.btm_menu .menus_wrp .single_menu .menu_imgtxt span {
	vertical-align: middle;
	font-size: 15px;
	color: #291859;
}

.menu_line .menu_one a:hover {
	text-decoration: none;
}

#cardSect .card_wrapper {
	background: url(../img/bg.png) no-repeat center center;
	background-size: cover;
	background-position: top;
	min-height: 500px;
}

#cardSect .bg-2 {
	background: url(../img/bg2.png) no-repeat center center;
	background-size: cover;
	background-position: top;
}

#cardSect .cdetails-wrp .details_head h3 {
	font-size: 31px;
	color: #ffffff;
}

#cardSect .cdetails-wrp .details_head p {
	font-size: 22px;
	color: #ffffff;
}

#cardSect .cdetails-wrp .details_head {
	margin-bottom: 80px;
}

.card-pd {
	padding-top: 63px;
}

/*#cardSect .cdetails-wrp .blue_line {
	background: #291859cf;
	padding: 30px 0;
}*/
.cdetails-wrp .avail_bal {
	margin-top: 32px;
}
.cdetails-wrp .avail_bal span {
	font-size: 26px;
    color: #ffffff;
    font-weight: 500;
}
.trio-img {
	width: 130%;
    margin-top: -70px;
}
/*.cdetails-wrp .card {
	margin-top: -140px;
}*/
.text-trans {
	text-transform: uppercase;
}
.card .custm_pos {
	margin-top: -132px;
	padding: 0 12px;
	position: absolute;
}

.card .card-details {
	color: #ffffff;
    letter-spacing: 1px;
    font-family: 'Orbitron', sans-serif;
}
.card .card-details .cvv .c1 {
	font-size: 10px;
	line-height: 22px;
}
.card .card-details .cvv .c2 {
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
}
.card .card-details .card_num {
	font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 26px;
}
.card .card-details .exp_dt {
	margin-left: 136px;
	margin-bottom: 10px;
}
.card .card-details .exp_dt .c1 {
	font-size: 8px;
}
.card .card-details .exp_dt .c2 {
	font-size: 10px;
}
.card .card-details .card_holdr {
	font-size: 15px;
	font-weight: 600;
}
/*.card_wrapper .cdetails-wrp {
	margin: 22px 0;
}*/
.load_mny .btn-load {
	background: #ffffff;
    color: #291859;
    padding: 8px 33px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 13px;
}

/*Physical card css starts here*/
.card_wrapper .cdetails-wrp .phycard_head {
	background: transparent;
    padding: 7px 0;
    border-radius: 12px;
    margin: 0 15px;
    margin-bottom: 10px;
}
.card_wrapper .cdetails-wrp .phycard_head h3 {
	color: #ffffff;
	font-size: 31px;
	margin: 0;
}
.mt-110 {
	margin-top: 110px;
}
.mt-30 {
	margin-top: 30px;
}
/*#cardSect .phycard-wrapper .blue_line {
	background: #291859cf;
	padding: 25px 0;
}*/
.phys_card .card .card-details {
	col/or: #291859;
}

/*transactions css starts here*/

.nav-pills li img {
	width: 75%;
}
.tab-content {
	background: #efefef;
    padding: 10px;
    border-radius: 5px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0;
}
.profile_sec .card-white {
	border-radius: 12px;
}

/*reset Paassword*/
.reset_pwd-wrp .pwd_heading {
	border-bottom: 1px solid #efefef;
}
.reset_pwd-wrp .pwd_heading h3 {
	font-size: 25px;
	margin-top: 10px;
    padding: 0 20px;
}
.reset_pwd-wrp .pwd_body {
	padding: 10px 20px;
}
.reset_pwd-wrp .pwd_body .btn-load {
	background: #291859;
	color: #ffffff;
}
.prof_body .left {
	padding: 15px 15px;
}
.prof_body .left h4 {
	font-weight: 600;
}
.prof_wrp .prof_heading {
	border-bottom: 1px solid #efefef;
}
.prof_wrp .prof_heading h3 {
	padding: 0 15px;
	margin-top: 10px;
}
.upgrade_Acc button {
	background: #291859;
	color: #ffffff;
}
.upgrade_Acc button:hover {
	color: #ffffff;
}
.receiptWrap .Rplayer_img img {
	position: fixed;
	bottom: 0;
}

/*upgrade Account*/
.upgrade_frm {
	border-radius: 12px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
}

/*modal animation*/

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
/*.modal-content {
	margin-top: 60%;
}*/


/*contactus css here*/
.pd-20 {
 padding: 20px;
}
.contact_sect h2 {
 margin-top: 10px;
 color: #291859;
}
.br-12 {
 border-radius: 12px;
}
.mt-80 {
 margin-top: 80px;
}


/*Responsive css starts here*/

@media only screen and (max-width: 320px) {
	.card .custm_pos {
		margin-top: -129px !important;
	    width: 230px !important;
	    padding: 0 11px !important;
	}
	.card .card-details .exp_dt {
		margin-left: 126px !important;
	}
	.card .card-details .card_num {
		font-size: 9px !important;
	}
	.card .card-details .card_holdr {
		font-size: 12px !important;
	}
	.card .card-details .cvv .c1, .card .card-details .cvv .c2 {
		font-size: 8px !important;
	}
	.card .card-details .exp_dt .c1, .card .card-details .exp_dt .c2 {
		font-size: 8px !important;
	}
	.cdetails-wrp .avail_bal span {
		font-size: 20px !important;
	}
}

@media only screen and (max-width: 425px) {
	.card .custm_pos {
		position: absolute;
	    margin-left: 0;
	    margin-top: -157px;
		width: 280px;
    	padding: 0 10px;
	}
	.card .card-details .card_num {
		font-size: 13px;
	}
	.card .card-details .card_holdr {
		font-size: 15px;
	}
	/*.card .card-details .cvv .c1, .card .card-details .cvv .c2 {
		font-size: 11px !important;
	}*/
	/*.card .card-details .exp_dt .c1, .card .card-details .exp_dt .c2 {
		font-size: 11px !important;
	}*/
	.PhysCard-wrapped .card .custm_pos {
	    margin-left: 0;
	    margin-top: -156px;
	    width: 325px;
	    padding: 0 14px;
	}
	.PhysCard-wrapped .card .card-details .cvv .c1, .PhysCard-wrapped .card .card-details .cvv .c2 {
		font-size: 10px;
	}
	.PhysCard-wrapped .card .card-details .card_num {
		font-size: 14px;
    	line-height: 40px;
	}
	.PhysCard-wrapped .card .card-details .exp_dt .c1, .card .card-details .exp_dt .c2 {
		font-size: 10px;
	}
	.PhysCard-wrapped .card .card-details .exp_dt {
		margin-left: 140px;
	}
	.PhysCard-wrapped .card .card-details .card_holdr {
		font-size: 14px;
	}
	.trio-phy {
		width: 114%;
	}
	#wrapper .btm_menu .menus_wrp ul li .menu_one {
		margin: 0 8px !important;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#wrapper .btm_menu .menus_wrp ul {
		padding-left: 0;
	}
	#wrapper .btm_menu .menus_wrp ul li .menu_one {
		margin: 0 20px;
	}
	#wrapper .btm_menu .menus_wrp ul li .menu_one .menu_imgtxt span {
		display: none;
	}
	#cardSect .cdetails-wrp .details_head h3 {
		font-size: 28px;
	}
	.top_nav .navbar-brand img {
		margin-top: -6px;
	}
	.navbar-header {
		margin-bottom: 34px;
	}
	.nav > li {
		display: inline-block;
	}
	.cdetails-wrp .avail_bal span {
		font-size: 24px;
	}
	.load_mny .btn-load {
		font-size: 13px;
		margin-top: 8px;
	}
	.nav-pills {
		padding-left: 10px;
	}
	.prof_body .left h4 {
		font-size: 12px;
	}
	.profile_sec .card-white {
		margin-bottom: 10px;
	}
	#myNavbar {
		background: #ffffff;
	}
	/*.cdetails-wrp .card img {
		width: 54%;
    	float: right;
	}*/
	/*.card .custm_pos {
		position: absolute;
	    margin-left: 0;
	    margin-top: -220px;
	    width: 498px;
	    padding: 0 23px;
	}*/
	.load_mny #btn1 {
		margin-left: -269px;
	}
	.PhysCard-wrapped .load_mny #btn1, .PhysCard-wrapped .load_mny #btn2 {
		margin-left: initial;
	}
	.card-pd {
		padding-top: 15px;
	}
	.load_mny #btn2 {
		margin-left: -269px;
	}
	.phys_card .card {
		margin-top: -161px;
	}
	.phys_card .card .card-details {
		margin-left: 214px;
	}
	.nav-pills li img {
		display: none;
	}
	.tab-content {
		height: 260px;
		margin-left: 10px;
	}
	.trio-img {
		width: 100%;
	    margin-top: 18px;
	    margin-left: 10px;
	}
	.card .card-details .cvv .c1, .card .card-details .cvv .c2 {
		font-size: 11px;
	}
	/*.card .card-details .card_num {
		font-size: 22px;
		line-height: 50px;
	}*/
	.card .card-details .exp_dt {
		margin-left: 184px;
	}
	.card .card-details .exp_dt .c1, .card .card-details .exp_dt .c2 {
		font-size: 11px;
	}
	.card .card-details .card_holdr {
		font-size: 16px;
	}
	.trio-phy {
		width: 110%;
	    margin-left: -27px;
	    margin-top: 40px;
	}
	#wrapper .btm_menu .menus_wrp ul li .menu_one {
		margin: 0 12px;
	}
}

@media only screen and (min-width: 600px) {
	.cdetails-wrp .avail_bal span {
		font-size: 22px;
	}
	.load_mny .btn-load {
		padding: 8px 19px;
		font-size: 15px;
		margin-top: 28px;
    	margin-left: -210px;
	}
	.cdetails-wrp .card img {
		wid/th: 60%;
		box-shadow: 0px 1px 20px 3px rgba(2, 2, 2, 0.20);
    	border-radius: 14px;
    	width: 100%;
    	float: none;
	}
	/*.card .custm_pos {
		margin-top: -109px;
	    padding: 0 26px;
	    margin-left: -24px;
	}*/
	#wrapper .btm_menu .menus_wrp ul {
		padding-left: 0;
	}
	#wrapper .btm_menu .menus_wrp ul li .menu_one {
		margin: 0 8px;
	}
	.load_mny .btn-load {
		font-size: 14px;
    	margin-left: initial;
		margin-top: 11px;
	}
	.card .custm_pos {
		margin-top: -222px;
	    padding: 0 23px;
	    margin-left: 0;
	    width: 500px;
	}
	.tab-content {
		height: 329px;
	}
	.card .card-details .cvv .c1 {
		font-size: 14px;
	}
	.card .card-details .card_num {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.card .card-details .cvv {
		margin-bottom: 20px;
	}
	.card .card-details .exp_dt {
		margin-left: 213px;
	}
	.card .card-details .exp_dt .c1, .card .card-details .exp_dt .c2 {
		font-size: 12px;
	}
	.card .card-details .card_holdr {
		font-size: 23px;
	}
	.trio-img {
		width: 108%;
	    margin-top: 10px;
	    margin-left: -13px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		overflow-y: scroll;
	}
	.trio-img {
		width: 98%;
	    margin-left: 30px;
	    margin-top: 10px;
	}
	.card .custm_pos {
		margin-top: -290px;
	    padding: 0 27px;
	    margin-left: 0;
	    width: 658px;
	}
	.card .card-details .cvv .c1 {
		font-size: 15px;
	}
	.card .card-details .cvv .c2 {
		font-size: 16px;
	}
	.card .card-details .card_num {
		font-size: 28px;
		line-height: 90px;
	}
	.card .card-details .cvv {
		margin-bottom: 16px;
	}
	.card .card-details .exp_dt {
		margin-left: 306px;
    	margin-bottom: 23px;
	}
	.card .card-details .exp_dt .c1 {
		font-size: 14px;
	}
	.card .card-details .exp_dt .c2 {
		font-size: 14px;
	}
	.card .card-details .card_holdr {
		font-size: 25px;
	}
	.cdetails-wrp .avail_bal span {
		font-size: 26px;
	}
	.load_mny .btn-load {
		font-size: 15px;
    	margin-left: initial;
	}
	.cdetails-wrp .card img {
		border-radius: 27px;
	}
	.trio-phy {
		width: 108%;
	    margin-left: -27px;
	    margin-top: 40px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.card .custm_pos {
		margin-top: -130px;
	    padding: 0 14px;
	    margin-left: 0;
	    width: 267px;
	}
	.load_mny .btn-load {
		margin-left: initial;
	}
	.trio-img {
		width: 147%;
	    margin-top: -39px;
	    margin-left: -95px;
	}
	#wrapper .btm_menu .menus_wrp ul li .menu_one {
		margin: 0 20px;
	}
	body {
		overflow: hidden;
	}
	.cdetails-wrp .card img {
		border-radius: 9px;
	}
	.card .card-details .cvv .c1, .card .card-details .cvv .c2 {
		font-size: 10px;
	}
	.card .card-details .card_num {
		font-size: 10px;
		line-height: 2px;
	}
	.card .card-details .exp_dt .c1, .card .card-details .exp_dt .c2 {
		font-size: 8px;
	}
	.card .card-details .card_holdr {
		font-size: 12px;
	}
	.card .card-details .exp_dt {
		margin-left: 111px;
		margin-bottom: 13px;
	}
	.card .card-details .cvv {
		margin-bottom: 10px;
	}
	.cdetails-wrp .avail_bal span {
		font-size: 20px;
	}
	.PhysCard-wrapped .card .custm_pos {
		margin-top: -158px;
	    padding: 0 18px;
	    margin-left: 0;
	    width: 366px;
	}
	.PhysCard-wrapped .card .card-details .cvv .c1, .PhysCard-wrapped .card .card-details .cvv .c2 {
		font-size: 12px;
	}
	.PhysCard-wrapped .card .card-details .card_num {
		font-size: 14px;
    	line-height: 10px;
	}
	.PhysCard-wrapped .card .card-details .exp_dt .c1, .card .card-details .exp_dt .c2 {
		font-size: 10px;
	}
	.PhysCard-wrapped .card .card-details .exp_dt {
		margin-left: 139px;
	}
	.PhysCard-wrapped .card .card-details .card_holdr {
		font-size: 16px;
	}
	.trio-phy {
		width: 162%;
	    margin-left: -141px;
	    margin-top: 40px;
	}
	.tab-content {
	    height: 500px;
	}
	.receiptWrap .Rplayer_img img {
		margin-left: -43px;
	    width: 230px;
	    height: 384px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.card .custm_pos {
		margin-top: -154px;
	    padding: 0 14px;
	    margin-left: 0px;
	    width: 334px;
	}
	.load_mny .btn-load {
		margin-left: initial;
	}
	.trio-img {
		width: 132%;
	    margin-top: -70px;
	    margin-left: -79px;
	}
	#wrapper .btm_menu .menus_wrp ul li .menu_one {
		margin: 0 20px;
	}
	body {
		overflow: hidden;
	}
	.PhysCard-wrapped .card .custm_pos {
		margin-top: -190px;
	    padding: 0 19px;
	    margin-left: 0px;
	    width: 455px;
	}
	.card-pd {
		padding-top: 38px;
	}
	.PhysCard-wrapped .card .card-details .cvv {
		margin-bottom: 24px;
	}
	.PhysCard-wrapped .card .card-details .cvv .c1, .PhysCard-wrapped .card .card-details .cvv .c2 {
		font-size: 14px;
	}
	.PhysCard-wrapped .card .card-details .card_num {
		font-size: 22px;
	}
	.PhysCard-wrapped .card .card-details .exp_dt .c1, .PhysCard-wrapped .card .card-details .exp_dt .c2 {
		font-size: 12px;
	}
	.PhysCard-wrapped .card .card-details .card_holdr {
		font-size: 22px;
	}
	.PhysCard-wrapped .card .card-details .exp_dt {
		font-size: 14px;
		margin-left: 195px;
	}
	.trio-phy {
		width: 147%;
    	margin-left: -127px;
	}
}

@media only screen and (min-width: 1280px) {
	.card .custm_pos {
		margin-top: -157px;
	    padding: 0 14px;
	    margin-left: 0px;
	    width: 323px;
	}
	.trio-img {
	    width: 134%;
	    margin-top: -50px;
	    margin-left: -48px;
	}
	.load_mny .btn-load {
		margin-left: initial;
	}
	#wrapper .btm_menu .menus_wrp ul li .menu_one {
		margin: 0 25px;
	}
	body {
		overflow: hidden;
	}
	.card .card-details .card_num {
		font-size: 12px;
	}
	.card .card-details .cvv {
		margin-bottom: 16px;
	}
	.card .card-details .exp_dt {
		margin-left: 125px;
	}
	.card .card-details .card_holdr {
		font-size: 14px;
	}
	.PhysCard-wrapped .card .card-details .exp_dt {
		margin-left: 195px;
	}
	.tab-content {
	    height: 450px;
	}
	#cardSect .card_wrapper {
		height: 670px;
	}
	.receiptWrap .Rplayer_img img {
		margin-left: -34px;
	    width: 230px;
	    height: 408px;
	}
}

@media only screen and (min-width: 1366px) {
	#wrapper .btm_menu .menus_wrp ul li .menu_one {
		margin: 0 40px;
	}
	.cdetails-wrp .avail_bal span {
		font-size: 26px;
	}
	.load_mny .btn-load {
		padding: 8px 33px;
	    font-size: 16px;
	    margin-left: initial;
	    margin-top: 28px;
	}
	.card .custm_pos {
		margin-top: -150px;
	    padding: 0 12px;
	    margin-left: 13px;
	    width: 307px;
	}
	.tab-content {
		height: 465px;
	}
	.nav-pills li img {
		width: 58%;
	}
	body {
		overflow: hidden;
	}
	.receiptWrap .Rplayer_img img {
		margin-left: -23px;
	    width: 255px;
	    height: auto;
	}
	#cardSect .card_wrapper {
		height: auto;
	}
}

