/*custom style starts here*/

@font-face {
	font-family: "OCRAExtended";
	src: url("../font/OCRAExtended.eot");
	src: 
	url("../font/OCRAExtended.woff") format("woff"),
	url("../font/OCRAExtended.ttf") format("truetype"),
	url("../font/OCRAExtended.svg#filename") format("svg");
}

body {
	/*background: -webkit-linear-gradient(rgba(41, 24, 89, 0.9), rgba(239, 24, 33, 0.9));
	background: -moz-linear-gradient(rgba(41, 24, 89, 0.9), rgba(239, 24, 33, 0.9));
	background: -ms-linear-gradient(rgba(41, 24, 89, 0.9), rgba(239, 24, 33, 0.9));
	background: -o-linear-gradient(rgba(41, 24, 89, 0.9), rgba(239, 24, 33, 0.9));
	background: linear-gradient(rgba(41, 24, 89, 0.9), rgba(239, 24, 33, 0.9));*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
}

/*tooltip styles*/
/* START TOOLTIP STYLES */
[tooltip] {
  posit/ion: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*predefined element starts*/

.m-50 {
	margin: 50px 0;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.pr-10 {
	padding-right: 10px;
}

.pl-10 {
	padding-left: 10px;
}

.plr-10 {
	padding: 0 4px;
}

.navbar-brand img {
	width: 22%;
	margin-top: -8px;
}

.innner-body {
	background: #fff;
	box-shadow: 1px 1px 20px 7px #98949426;
}

.dropdown-menu .usr-dtls .usr-nme {
	text-transform: uppercase;
}

.load_wrap {
	background: #efefef;
	border-radius: 2px;
	padding: 8px 5px;
}

.usr-img img {
	width: 46px;
}

.usr-nme {
	text-transform: uppercase;
}

.hwtous h4 {
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
}

.hwtous p {
	font-size: 15px;
	font-weight: 600;
}

.pd-0 {
	padding-left: 5px;
	padding-right: 5px;
}
.load_wrap small {
	font-size: 11px;
	font-weight: 600;
}

.load_wrap .input-group-addon {
	padding: 2px 4px;
	background-color: #fff;
	font-size: 10px;
}

.load_wrap .form-control {
	height: 24px;
	font-size: 11px;
}

.usr-dtls {
	/*margin-bottom: 10px;*/
}

.prof-btn {
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn-custom {
  color: #fff;
  background-color: rgb(41, 24, 89);
  border-color: rgb(41, 24, 89);
  padding: 2px 12px;
  font-size: 13px;
  border-radius: 2px;
}
.btn-custom:focus,
.btn-custom.focus {
  color: #fff;
  background-color: rgb(41, 24, 89);
  border-color: rgb(41, 24, 89);
}
.btn-custom:hover {
  color: #fff;
  background-color: rgb(41, 24, 89);
  border-color: rgb(41, 24, 89);
}
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  color: #fff;
  background-color: rgb(41, 24, 89);
  border-color: rgb(41, 24, 89);
}
.btn-custom:active:hover,
.btn-custom.active:hover,
.open > .dropdown-toggle.btn-custom:hover,
.btn-custom:active:focus,
.btn-custom.active:focus,
.open > .dropdown-toggle.btn-custom:focus,
.btn-custom:active.focus,
.btn-custom.active.focus,
.open > .dropdown-toggle.btn-custom.focus {
  color: #fff;
  background-color: rgb(41, 24, 89);
  border-color: rgb(41, 24, 89);
}
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  background-image: none;
}
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled.focus,
.btn-custom[disabled].focus,
fieldset[disabled] .btn-custom.focus {
  background-color: rgb(41, 24, 89);
  border-color: rgb(41, 24, 89);
}
.btn-custom .badge {
  color: #337ab7;
  background-color: #fff;
}

.dropdown-menu li a {
	text-decoration: none;
	color: rgb(41, 24, 89);
	font-weight: 600;
}

.dropdown-menu li a i {
	margin-right: 5px;
}

.dropdown-menu li {
	padding: 6px 0;
}

.load_wrap .form-control {
	padding: 4px 22px 4px 4px;
}

.load_wrap .btn {
	float: right;
    margin-top: -4px;
    position: absolute;
    margin-left: -30px;
    z-index: 99999;
}

.help {
	font-size: 12px;
	color: rgb(41, 24, 89);
}

.help:hover {
	text-decoration: none;
}

.wall_mny {
	font-size: 18px;
	font-weight: 800;
}

.bd-r {
	border-right: 1px solid #d5d5d5;
}

.bimg-sec {
	background: url(../img/bg1.png);
	background-repeat: no-repeat;
	min-height: 230px;
	background-position: right;
}

.bimg-head span {
	font-size: 38px;
	font-weight: 700;
	color: #fff;
}

.bimg-head small {
	font-size: 28px;
    color: #fff;
}

.box {
	background: #f2f2f2;
	padding: 30px 90px;
	border-radius: 15px;
	box-shadow: 0px 1px 9px 2px #e5e5e5;
	margin: 60px 0 40px 0;
}

.trans_box {
	background: #f2f2f2;
	border-radius: 0;
	margin: 0px 0 40px 0;
}

.box-headng h3 {
	font-size: 30px;
	font-weight: 600;
	color: rgb(41, 24, 89);
	margin-top: 10px;
}

.box-manual {
	height: 250px;
	overflow: auto;
	border-top: 2px solid #dcdbe4;
	border-bottom: 2px solid #dcdbe4;
	padding: 10px 15px;
}

.bimg-head {
	padding-top: 110px;
}

.back-link a {
	text-transform: uppercase;
	text-decoration: none;
	color: #606060;
	font-weight: 600;
}

.avail_bal {
	font-size: 20px;
	text-transform: uppercase;
	color: #606060;
	margin: 50px 0 30px;
}

.tab-content {
	padding: 15px;
	min-height: 280px;
}

.load-btn {
	background: -webkit-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -moz-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -ms-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -o-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 12px;
}

.offers-btn {
	background: -webkit-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -moz-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -ms-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -o-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	color: #fff;
	font-size: 11px;
	font-weight: 500;
    padding: 5px 9px;
}

.load-btn:hover, .load-btn:active, .load-btn:focus {
	color: #fff;
}

.offfer_wrp {
	padding: 0 122px;
	margin-bottom: 15px;
}

.offfer_hed {
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
	margin-top: 25px;
}

.offfer_hed h4 {
	font-size: 34px;
	font-weight: 600;
	color: #606060;
	text-transform: uppercase;
}

.img-card {
	margin-bottom: 64px;
}

.img-card img {
	box-shadow: 1px 1px 12px 3px #606060;
	border-radius: 15px;
}

.holderDtls {
	color: #fff;
	text-transform: uppercase;
	padding: 0 20px;
	margin-top: -168px;
	font-family: 'OCRAExtended', Open Sans, sans-serif;
	line-height: 2;
}

.holderDtls span {
	
}

.holdercvv .cvv, .holdercvv span {
	font-size: 16px;
}

.holderNum span {
	font-size: 24px;
}

.holderVal span {
	font-size: 12px;
}

.holderVal {
	margin-left: 180px;
}

.holderNme span {
	font-size: 20px;
}

.use_wrp .use_hed span {
	font-size: 30px;
	text-transform: uppercase;
	color: #606060;
	font-weight: 700;
}

.use_wrp {
	padding: 0 150px;
	margin-top: 30px;
}

.use_hed {
	padding: 8px 0;
	border-top: 2px solid #d9d9d9;
	border-bottom: 2px solid #d9d9d9;
}

.hwtous {
	margin-bottom: 20px;
}

.use_bdy {
	margin: 30px 0;
}

.downld_wrp {
	background: url(../img/bg1.png);
	padding: 30px 20px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.downld_hed {
	text-transform: uppercase;
	color: #fff;
}

.downld_hed h4 {
	font-size: 38px;
    font-weight: 700;
}

.applink {
	margin-bottom: 10px;
}

.applink img {
	width: 60%;
}

.dash-plyrs-1 img {
	width: 80%;
}

.dash-plyrs-2 img {
	width: 73%;
}

.htu-plyrs-1 img {
	width: 86%;
}

.htu-plyrs-2 img {
	width: 78.6%;
}

.abot_playrs img {
	width: 27%;
    position: absolute;
    margin-left: 30%;
    margin-top: -50px;
}

.singles-offers {
	padding: 0 100px;
}

.prof-wrapper {
	padding: 0 100px;
}

.prof_acti-hed {
	margin-bottom: 10px;
}

.prof_acti-hed span {
	color: #fff;
	font-size: 22px;
	font-weight: 400;
}

.prof_acti-wrp {
	padding-top: 100px;
}

.btn-white {
	background: #fff;
	color: #931f19;
	font-size: 16px;
	padding: 6px 28px;
	border-radius: 8px;
	font-weight: 600;
}

.prof_acti-wrp img {
	width: 75%;
	position: absolute;
	margin-left: 28px;
}

.prof_dtls-hed {
	background: #9f201c;
    padding: 7px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.prof_dtls-hed span {
	font-size: 16px;
	color: #fff;
}

.prof_pwd-hed {
	background: #9f201c;
    padding: 7px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.prof_pwd-hed span {
	font-size: 16px;
	color: #fff;
}

.prof_dtls-bdy {
	padding: 10px 15px;
}

.prof_dtls-bdy div {
	margin-bottom: 8px;
}

.prof_dtls-bdy div span {
	color: #9f201c;
	font-weight: 600;
}

.prof_pwd-bdy {
	padding: 10px 15px;
}

.prof_pwd-bdy .form-control {
	color: #a32627d1;
	border: 1px solid #9f201c;
}

.btn-red {
	color: #fff;
    background: #931f19;
    padding: 6px 25px;
}

.btn-red:hover {
	color: #fff;
}

.reset-pin a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

.reset-pin a:hover {
	text-decoration: none;
}

.mh-215 {
	min-height: 215px !important;
}

.mt-130 {
	margin-top: 130px;
}

.load_plyr-1 img {
	width: 77%;
	position: absolute;
	margin-top: -160px;
}

.load_plyr-2 img {
	width: 86%;
	position: absolute;
	margin-top: -160px;
}

/*modal styles starts here*/
button.close, a.close {
	top: -10px;
    position: absolute;
    right: -10px;
    background: url(../img/cross-icon.png);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    display: inline-block;
    z-index: 10;
    opacity: 10;
}

#phyModal .modal-content {
	background: #f4f7f9;
    border-radius: 10px;
    position: relative;
    float: left;
    width: 100%;
}

#phyModal .modal-body {
	padding: 1% 0 0 0;
    /*background: #f8f8f8 url(../images/login-bg.jpg) no-repeat 0 top;*/
    border-radius: 10px;
    float: left;
    width: 100%;
}

#kitModal .modal-content .kit-image {
	position: absolute;
    right: -217px;
    bottom: -5px;
}

#phyModal .modal-content .sehwag-image {
	position: absolute;
    right: -44px;
    bottom: -1px;
}

.top-logo {
	margin-top: 10px;
}

.top-logo .cashround {
	width: 22%;
}

/*=============================*/
/* Make circles that indicate the steps of the form: */
#regForm {
    padding: 46px 80px;
    min-width: 300px;
}

/* Hide all steps by default: */
.tab {
  	display: none;
}

#prevBtn {
  	background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	/*background-color: transparent;*/
  	background: -webkit-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -moz-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -ms-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -o-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
  	border: none;  
  	border-radius: 50%;
  	display: inline-block;
  	opacity: 0.5;
}

.step.active {
  	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  	background: -webkit-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -moz-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -ms-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: -o-linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
	background: linear-gradient(to right, rgba(239, 24, 33, 0.9), rgba(41, 24, 89, 0.9));
}

.step-wrap {
	margin-bottom: 25px;
}

#regForm .form-group {
	margin-bottom: 18px;
}

#regForm .form-control {
	border-radius: 2px;
    height: 42px;
    padding: 5px 12px;
    font-size: 15px;
}

#ActivForm .form-control {
	border-radius: 2px;
    height: 42px;
    padding: 5px 12px;
    font-size: 15px;
}

.txt-red {
	color: #931f19;
	font-weight: 600;
}

.tab strong {
	margin-bottom: 10px;
	margin-top: 10px;
}

.instruct p {
	font-size: 18px;
	margin-bottom: 20px;
}

.kitWrp {
	padding: 12px 35px 28px;
}

.kitWrp h3 {
	font-size: 22px;
}

.UpgradWrp {
	padding: 0px 10px 5px;
}

#UpgForm h3 {
	font-size: 20px;
}

.caption small {
	font-weight: 600;
}

.caption span {
	font-size: 12px;
}

.formTrasf {
	background-color: #fff;
	box-shadow: 0px 0px 14px 1px #efefef;
	padding: 20px 28px;
	border-radius: 4px;
	margin: 15px 10px;
}

.benif_wrp {
	border-radius: 4px;
	padding: 10px 10px 20px;
	margin: 40px 0 0;
}

.benif_hed {
	margin-bottom: 10px;
}

.benif_hed span {
	font-size: 16px;
	font-weight: 600;
}

.benif_bdy .btn-default {
	box-shadow: 0px 0px 14px 1px #efefef;
	border: none;
	text-align: left;
}

.rest {
	text-decoration: none;
	color: #000;
}

.rest:hover {
	text-decoration: none;
}

.txt-upper {
	text-transform: uppercase;
}

.btn-theme {
  color: #fff;
  background: url(../img/bg1.png);
  background-repeat: no-repeat;
  /*background-color: rgb(41, 24, 89);*/
  border-color: rgb(159, 32, 28);
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 600;
}

.btn-theme:focus,
.btn-theme.focus {
  color: #fff;
  background: url(../img/bg1.png);
	background-repeat: no-repeat;
  /*background-color: rgb(41, 24, 89);*/
  border-color: rgb(159, 32, 28);
}

.btn-theme:hover {
  color: #fff;
  background-color: rgb(41, 24, 89);
  border-color: rgb(159, 32, 28);
}

.btn-theme:active,
.btn-theme.active,
.open > .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: rgb(41, 24, 89);
  border-color: rgb(159, 32, 28);
}

.btn-theme:active:hover,
.btn-theme.active:hover,
.open > .dropdown-toggle.btn-theme:hover,
.btn-theme:active:focus,
.btn-theme.active:focus,
.open > .dropdown-toggle.btn-theme:focus,
.btn-theme:active.focus,
.btn-theme.active.focus,
.open > .dropdown-toggle.btn-theme.focus {
  color: #fff;
  background-color: rgb(41, 24, 89);
  border-color: rgb(159, 32, 28);
}

.btn-theme:active,
.btn-theme.active,
.open > .dropdown-toggle.btn-theme {
  background-image: none;
}

.btn-theme.disabled:hover,
.btn-theme[disabled]:hover,
fieldset[disabled] .btn-theme:hover,
.btn-theme.disabled:focus,
.btn-theme[disabled]:focus,
fieldset[disabled] .btn-theme:focus,
.btn-theme.disabled.focus,
.btn-theme[disabled].focus,
fieldset[disabled] .btn-theme.focus {
  background-color: rgb(41, 24, 89);
  border-color: rgb(159, 32, 28);
}

.btn-theme .badge {
  color: #337ab7;
  background-color: #fff;
}

/*==============*/

.footer {
	background: #606060;
	color: #fff;
	padding: 10px;
	bottom: 0;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	text-decoration: none;
}

.footer .footer-links a {
	margin: 0 8px;
}


/*Browse Plan CSS starts here*/

/*#brows_plan .modal-content {
	width: 607px;
}*/

#brows_plan .modal-title {
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
}

#brows_plan .modal-content {
	border-radius: 0;
}

#brows_plan .modal-header {
	background-color: #f3f3f3;
	border-bottom-color: #f3f3f3;
}

#brows_plan .modal-body {
	max-height: 455px;
	padding: 0;
}

.brsw-desc a.active, .brsw-desc a.active:hover {
	background: #0073cf;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.brsw-desc a:hover {
	background: #efefef;
}

.brsw-desc a {
	display: block;
    color: #404040;
    padding: 12px 10px;
    text-decoration: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.left-brows {
	border-right: 1px solid #ebebeb;
}

.padLft15 {
	padding-left: 15px;
}

.padTop15 {
	padding-top: 15px;
}

.scrol-y {
	overflow: hidden;
	overflow-y: auto;
	height: -webkit-fill-available;
}

.brsw-desc {
	height: -webkit-fill-available;
}

.dpTbCell {
	display: table-cell;
}

.vtop {
	vertical-align: top;
}

.pad15 {
	padding: 15px;
}

.rdown {
	border-bottom: 1px solid #ebebeb;
}

.nobg {
	background: transparent !important;
	color: grey;
}

.nobg:hover {
	color: grey;
}

.btn-style {
	font-size: 14px;
	font-weight: 600;
	border-color: #0073cf !important;
}

.dpInBLock {
	display: inline-block;
}

.pbtm5 {
	padding-bottom: 5px;
}

.tgreyteel {
	color: grey;
}

.f12 {
	font-size: 12px;
}

.plns {
	width: 85px;
	padding: 11px 14px 10px;
}

.marg0 {
	margin: 0 !important;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}