body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #f96332;
}
h2 {
    color: #000;
    font-weight: 700;
}
p {
    color: #000;
    font-weight: 700;
}
.pb-30 {
    padding-bottom: 30px;
}
.page-header[filter-color="orange"] {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    /* Standard syntax */
}
.page-header {
    height: 100vh;
    max-height: 1050px;
    padding: 0;
    color: #FFFFFF;
    position: relative;
    background-position: center center;
    background-size: cover;
}
.page-he/ader:before {
    background-color: rgba(0, 0, 0, 0.5);
}
.page-header:after,
.page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}
.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page-header .container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
}
.page-header .container {
    z-index: 2;
}
.page-header .container>.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 880px;
}
.page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.login-page .card-login {
    border-radius: 0.25rem;
    padding-bottom: 0.7rem;
    max-width: 352px;;
}
.card-plain {
    background: rgba(255, 255, 255);
    box-shadow: none;
    padding: 40px 40px;
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
img {
    border-radius: 1px;
}
.card-plain .content {
    padding-left: 0;
    padding-right: 0;
}
.form-control {
    font-size: 15px;
    border-radius: 2px;
}
.btn-primary {
    color: #fff;
    background-color: #ee4111;
    border-color: #f1582f;
}
.btn-primary:hover {
    color: #fff;
    background-color: #f1582f;
    border-color: #f1582f;
}