/*!
 * TableExport.js v3.3.13 (https://www.travismclarke.com)
 *
 * Copyright (c) 2017 - Travis Clarke - https://www.travismclarke.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at

 * http://www.apache.org/licenses/LICENSE-2.0

 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

/*-----------------------------------/
/* CAPTION POSITIONS
/*----------------------------------*/

.top {
    caption-side: top;
}

.bottom {
    caption-side: bottom;
}

/*-----------------------------------/
/* BUTTON CUSTOM CLASSES
/*----------------------------------*/

.button-default, .button-default:hover, .button-default:focus, .button-default:active {
    text-decoration: none;
}

.button-default {
    background-color: #5d6dc3 !important;
    border: 1px solid #5d6dc3 !important;
color: #ffffff !important;
	cursor: pointer;
border-radius: 2px;
    font-size: 15px;
    outline: none !important;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-default.xlsx:before, .button-default.xls:before, .button-default.csv:before, .button-default.txt:before {
    content: none;
}

.xlsx, .xls, .csv, .txt {
    margin: 4px 3px;
}

.xlsx:before, .xls:before, .csv:before, .txt:before {
    margin-right: 10px;
    padding: 11px 15px 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.xlsx:before {
    content: "";
    background: darkgreen url(../img/xlsx.svg) no-repeat center;
}

.xls:before {
    content: "";
    background: green url(../img/xls.svg) no-repeat center;
}

.csv:before {
    content: "";
    background: blue url(../img/csv.svg) no-repeat center;
}

.txt:before {
    content: "";
    background: purple url(../img/txt.svg) no-repeat center;
}