/*custom css here*/

@import url('https://fonts.googleapis.com/css?family=Orbitron:700');

.side-menu {
	padding: 15px;
}

#sidebar-menu > ul > li > a.active {
    color: #ffffff !important;
    background: #188ae2;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#sidebar-menu > ul > li > a {
	margin: 10px 0;
}
#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
	border-radius: 5px;
}
#sidebar-menu ul li a i {
	font-size: 17px;
	font-weight: 600;
}
#sidebar-menu ul li a .fa-credit-card {
	color: #9933ff;
}
#sidebar-menu ul li.active > a .fa-credit-card {
	color: #ffffff;
}
#sidebar-menu ul li a .fa-line-chart {
	color: #33cc33;
}
#sidebar-menu ul li.active > a .fa-line-chart {
	color: #ffffff;
}
#sidebar-menu ul li a .ti-wallet {
	color: #72c9fe;
}
#sidebar-menu ul li.active > a .ti-wallet {
	color: #ffffff;
}
#sidebar-menu ul li a .fa-user-circle {
	color: #f2bb5f;
}
#sidebar-menu ul li.active > a .fa-user-circle {
	color: #ffffff;
}
#sidebar-menu ul li a .fa-power-off {
	color: #e8562e;
}
#sidebar-menu ul li.active > a .fa-power-off {
	color: #ffffff;
}
#sidebar-menu ul li a .fa-life-saver {
	color: #498ae2;
}
#sidebar-menu ul li.active > a .fa-life-saver {
	color: #ffffff;
}
.full-wrap {
	padding: 0 75px 20px 75px;
}
.mt-40 {
	margin-top: 40px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-20 {
	margin-bottom: 20px;
}
.full-wrap .main-head h2 {
	font-weight: 700;
}
.full-wrap .card-head h4 {
	font-weight: 700;
}
.full-wrap .card-head p {
	font-weight: 700;
	font-size: 12px;
    letter-spacing: 0.5px;
}
.pr-30 {
	padding-right: 30px;
}
.card-info {
	background: #ffffff;
    border-radius: 10px;
    height: 150px;
    padding: 70px 30px 12px 50px;
    margin-top: -70px;
}
.card-info h4 {
	font-size: 17px;
	font-weight: 600;
}
.card-wrap .card-body .card {
	padding: 0 20px 20px 20px;
}
.card-box h6 {
	font-size: 20px;
	font-weight: 600;
}
.mt-7 {
	margin-top: 7px;
}
.mt-26 {
	margin-top: 26px;
}
.expen-card .card-box {
	border-radius: 4px;
}
.pricespc h4 {
	font-weight: 700;
	font-size: 24px;
}
.status-pay .fa-check {
	font-size: 30px;
}
.status-success {
	color: #33cc33;
}

.status-pending {
	color: #ffcc00;
}
.wallet-wrap .card-box {
	border-radius: 4px;
}
.wallet-body .wallet-img img {
	width: 25%;
}
.wallet-text h4 {
	font-size: 20px;
	font-weight: 600;
}
.lod_money {
	margin-top: 30px;
	margin-bottom: 30px;
}
.prof-bdy .card-box {
	border-radius: 5px;
	padding-top: 60px;
    margin-top: -35px;
}
.left {
	text-align: left;
}
.prof-img img {
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.m-20 {
	margin: 20px 0;
}
.fw-600 {
	font-weight: 600;
}
.psw_rest {
	border-radius: 5px;
	margin-top: 90px;
}

.psw_rest h3 {
	font-size: 22px;
	line-height: 0;
}
.card-details {
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
}
.custm_pos {
	position: absolute;
    margin-top: -130px;
    margin-left: 32px;
}
.fs-20 {
	font-size: 18px;
}
.card_num {
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.exp_dt {
	position: absolute;
    margin-left: 150px;
    font-size: 10px;
    margin-bottom: 12px;
}
.cvv {
	font-size: 10px;
	margin-left: 86px;
	margin-bottom: 12px;
}
.text-deco1 {
	color: #ffffff;
}
