/*styles for landing page*/
body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

/*.body-container .container {
	box-shadow: 1px 1px 15px 2px #efefef;
}*/

/*@media (min-width: 768px) {
	.container {
		width: 1000px;
	}
}*/

/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	    background: #f1f1f1; 
	}
		 
	/* Handle */
	::-webkit-scrollbar-thumb {
	    background: #888; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	    background: #555; 
	}

.hero-btn {
	background-color: #066bb5;
	border-color: #066bb5;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

.hero-btn:hover {
	background-color: #fff;
	border: 2px solid #066bb5;
	color: #066bb5;
	transition: all 0.5s;
}

/*back to top*/

#top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.29);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#top i{
    color: #fff;
    margin: 0;
    position: relative;
    left: 14px;
    top: 9px;
    font-size: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#top:hover{
    background: #066bb5f0;
}
#top:hover i{
    color: #fff;
    top: 5px;
}

/*back to top*/

.right-align {
	float: right;
}

.left-align {
	float: left;
}

.navbar-brand img {
	width: 8%;
    margin-top: -13px;
    position: absolute;
}

.navbar-right li a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}

@media (min-width: 768px) {
	.navbar-right {
		margin-top: 9px;
	}
}

.navbar-white {
	box-shadow: 1px 1px 15px 2px #efefef;
}

.btn-custom {
	background: -webkit-linear-gradient(to right, #37c6f3, #334471);
	background: -moz-linear-gradient(to right, #37c6f3, #334471);
	background: -ms-linear-gradient(to right, #37c6f3, #334471);
	background: -o-linear-gradient(to right, #37c6f3, #334471);
	background: linear-gradient(to right, #37c6f3, #334471);
	background-repeat: no-repeat;
}

.btn-white {
	text-transform: uppercase;
	background: #fff;
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.bannner {
	background: url(../img/landing/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 492px;
	width: 100%;
}

.home button, .home a {
	float: right;
    margin-top: -82px;
    margin-right: 128px;
	padding: 8px 32px;
}

.getStarted {
	padding: 20px 30px;
	background: url(../img/landing/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.getStarted_head {
	background: -webkit-linear-gradient(to right, #37c6f3, #334471);
	background: -moz-linear-gradient(to right, #37c6f3, #334471);
	background: -ms-linear-gradient(to right, #37c6f3, #334471);
	background: -o-linear-gradient(to right, #37c6f3, #334471);
	background: linear-gradient(to right, #37c6f3, #334471);
	padding: 10px 15px;
	margin-bottom: 20px;
}

.getStarted_head span {
	text-transform: uppercase;
	font-size: 24px;
	text-shadow: 0 0 4px #6b6a6a;
	color: #fff;
}

.getStarted_body .get-head p {
	font-size: 18px;
}

.imgsize-1 {
	width: 40%;
}

.imgsize-2 {
	width: 40.5%;
}

.get-foot {
	margin-top: 10px;
	line-height: 1.1;
}

.get-foot span {
	font-size: 12px;
}

.download_app {
	background: -webkit-linear-gradient(to right, #37c6f3, #334471);
	background: -moz-linear-gradient(to right, #37c6f3, #334471);
	background: -ms-linear-gradient(to right, #37c6f3, #334471);
	background: -o-linear-gradient(to right, #37c6f3, #334471);
	background: linear-gradient(to right, #37c6f3, #334471);
	padding: 20px 50px 45px;
}

.app_heading span {
	font-size: 32px;
	color: #fff;
	text-shadow: 0 0 4px #6b6a6a;
}

.app_subhead span {
	font-size: 16px;
	color: #fff;
}

.app_subhead {
	margin-bottom: 25px;
}

.store-img {
	width: 50%;
}

.slider-wrp {
	background: url(../img/landing/bg.png);
	padding: 25px 30px;
}

.singlOffrs {
	padding: 20px 30px;
	background: url(../img/landing/bg.png);
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
}

.singlOffrs_head {
	background: -webkit-linear-gradient(to right, #37c6f3, #334471);
	background: -moz-linear-gradient(to right, #37c6f3, #334471);
	background: -ms-linear-gradient(to right, #37c6f3, #334471);
	background: -o-linear-gradient(to right, #37c6f3, #334471);
	background: linear-gradient(to right, #37c6f3, #334471);
	padding: 10px 15px;
	margin-bottom: 20px;
}

.singlOffrs_head span {
	text-transform: uppercase;
	font-size: 24px;
	text-shadow: 0 0 4px #6b6a6a;
	color: #fff;
}

.singlOffrs_body .innersingl_offrs {
	padding: 65px 15px 50px 15px;
}

.singlOffrs_body ul {
	padding: 0;
    background: #ffffff17;
    border-left: 1px solid #cae3f330;
    border-top: 1px solid #cae3f330;
    margin-bottom: 35px;
}

.singlOffrs_body ul li {
	display: inline-block;
    border-right: 1px solid #cae3f330;
    border-bottom: 1px solid #cae3f330;
    height: 204px;
}

.custm_btn {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 174px;
  font-weight: bold;
  padding: 8px 0px;
  border: 2px solid #34527f;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.custm_btn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #34527f;
  z-index: -2;
}
.custm_btn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.custm_btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

a.custm_btn {
  color: #34527f;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}

a.custm_btn:hover {
  color: #fff;
}

a.custm_btn:focus {
  color: #fff;
}

.cntct_wrap {
	padding: 20px 30px;
	background: url(../img/landing/bg.png);
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
}

.cntct_hed {
	background: -webkit-linear-gradient(to right, #37c6f3, #334471);
	background: -moz-linear-gradient(to right, #37c6f3, #334471);
	background: -ms-linear-gradient(to right, #37c6f3, #334471);
	background: -o-linear-gradient(to right, #37c6f3, #334471);
	background: linear-gradient(to right, #37c6f3, #334471);
	padding: 10px 15px;
	margin-bottom: 20px;
}

.cntct_hed span {
	text-transform: uppercase;
	font-size: 24px;
	text-shadow: 0 0 4px #6b6a6a;
	color: #fff;
}

.contact_bdy strong {
	font-size: 15px;
}

.contact_bdy .singl_contac {
	margin-bottom: 20px;
}

.singl_contac a {
	text-decoration: none;
	font-size: 14px;
	color: #ee9f1e;
	font-weight: 600;
}

.contact_hed {
	margin-bottom: 30px;
}

.contact_hed span {
	font-size: 13px;
	/*font-weight: 600;*/
}

.contact_frm_hed {
	margin-bottom: 30px;
}

.contact_frm_hed span {
	font-size: 13px;
	/*font-weight: 600;*/
}

.contact_frm form .form-control {
	border: none;
	border-radius: 2px;
	font-size: 15px;
	height: 40px;
}

textarea.form-control {
	height: auto !important;
}

.footer {
	background: #000;
	color: #fff;
	padding: 10px;
	bottom: 0;
}

.footer a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
}

.footer .copyright span {
	text-transform: uppercase;
	color: #fff;
}

.social_wrapper {
	padding: 0 10px;
}

.social_links ul {
	list-style-type: none;
	display: inline-flex;
}

.social_links ul li img {
	width: 50%;
}

.testi_wrap {
	padding: 20px 30px;
	background: url(../img/landing/bg.png);
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
}

.testi_hed {
	background: -webkit-linear-gradient(to right, #ffe100, #ff8400);
	background: -moz-linear-gradient(to right, #ffe100, #ff8400);
	background: -ms-linear-gradient(to right, #ffe100, #ff8400);
	background: -o-linear-gradient(to right, #ffe100, #ff8400);
	background: linear-gradient(to right, #ffe100, #ff8400);
	padding: 10px 15px;
	margin-bottom: 20px;
}

.testi_hed span {
	text-transform: uppercase;
	font-size: 24px;
	text-shadow: 0 0 4px #6b6a6a;
}

.slide {
	padding: 0 18px;
}

.thumb-foot {
	margin-bottom: 10px;
}

.testi_person span {
	font-size: 18px;
	font-weight: 600;
}

/*video section*/
.video_wrp {
	background: -webkit-linear-gradient(to right, #37c6f3, #334471);
	background: -moz-linear-gradient(to right, #37c6f3, #334471);
	background: -ms-linear-gradient(to right, #37c6f3, #334471);
	background: -o-linear-gradient(to right, #37c6f3, #334471);
	background: linear-gradient(to right, #37c6f3, #334471);
	padding: 45px 50px 45px;
}

.video_content h3 {
	color: #000;
	font-size: 20px;
	text-align: justify;
	line-height: 1.3;
	margin-bottom: 15px;
}

.video_content p {
	color: #000;
	font-size: 16px;
	text-align: justify;
	font-weight: 300;
	line-height: 1.3;
	margin-bottom: 30px;
}

.video_content {
	padding: 38px 3px;
}

/*=================*/

.get-app {
	position:fixed; 
	top:30%; 
	right:0; 
	border:1px solid #d5e4f3; 
	background:#366cb6; 
	-webkit-box-shadow:0 1px 10px 0 rgba(0,0,0,0.32); 
	-moz-box-shadow:0 1px 10px 0 rgba(0,0,0,0.32); 
	box-shadow:0 1px 10px 0 rgba(0,0,0,0.32); 
	border-radius:4px 0 0 4px; 
	color:#fff; 
	font-size:15px; 
	cursor:pointer; 
	z-index:1024; 
	height:47px;
}

.get-app span:nth-child(1) {
	padding:12px; 
	background:#ee9e1f;
}

.get-app span {
	padding:8px 3px;
}

.get-app i {
	font-size:18px; 
	margin-top:5px;
}

.get-app .get-app-inner {
	padding:8px 0 7px; 
	width:0; 
	position:relative; 
	overflow:hidden;
	transition: all .5s;
}

.get-app .get-app-inner input {
	width:0%; 
	font-size:11px; 
	color:#999999; 
	padding:3px 10px; 
	height:30px; 
	transition: all .5s;
}

.get-app:hover .get-app-inner input {
	width: 170px;
}

.get-app:hover .get-app-inner {
	width:180px; 
	padding:8px 9px 7px 3px;
}

.get-app:hover i {
	transform:rotate(180deg);
}

.trans-03-sec {
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

/*about us - terms and conditions - privacy policy*/
.secHeading span {
	font-size: 36px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
}

.secHeading {
	padding: 50px 0;
}

.aboutTxt {
	padding: 20px 50px;
}

.aboutTxt p {
	font-weight: 600;
	font-size: 15px;
	color: #726a84;
}

.aboutWrp {
	background: url(../img/landing/bg.png);
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
}

.sub-head {
	font-size: 18px;
	font-weight: 600;
}