<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Cashier | Promotional</title>
</head>
<body>
<div style="margin:0;box-sizing:border-box;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important; background: #ebecee;">
  <div class="" style="margin:20px auto;width:650px;">
    <table class="" style="margin:0;background:0 0!important;border:0!important;border-collapse:collapse;border-spacing:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;height:100%;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%" cellspacing="0" cellpadding="0">
      <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
          <td class="" style="margin:0;border-collapse:collapse!important;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word" valign="top" align="center">
            <center style="min-width:580px;width:100%">
              <table class="" style="margin:0 auto;background:0 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px" align="center" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr style="padding:0;text-align:left;vertical-align:top">
                    <td style="margin:0;border-collapse:collapse!important;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                      <table class="" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr style="padding:0;text-align:left;vertical-align:top">
                            <th class="" style="margin:0 auto;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;padding-top:16px!important;text-align:left;width:564px">
                              <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left"></th>
                                    <th class="" style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0!important;text-align:left;width:0"></th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                      <table class="" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr style="padding:0;text-align:left;vertical-align:top">
                            <th class="" style="margin:0 auto;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;padding-top:16px!important;text-align:left;width:564px">
                              <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left">
                                      <img src="${btImage}" style="margin:0 auto;clear:both;display:block;float:none;margin:0 auto;max-height:150px;max-width:35%;outline:0;text-align:center;text-decoration:none;width:auto" align="center" tabindex="0">
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="" style="margin:0 auto;background:#fefefe!important;border:1px solid #ddd;border-bottom:0;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr style="padding:0;text-align:left;vertical-align:top">
                    <td style="margin:0;border-collapse:collapse!important;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                      <table class="" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr style="padding:0;text-align:left;vertical-align:top">
                            <th class="" style="margin:0 auto;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;padding-top:16px!important;text-align:left;width:564px">
                              <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left">
                                      
                                    <table class="" style="margin:0 auto;background:0 0;border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:100%" align="center" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                          <td style="margin:0;border-collapse:collapse!important;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:14px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                            <img src="${tpImage}" width="100%">
                                            <br>
                                            <p style="margin:0;margin-bottom:10px;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:14px;font-weight:300;line-height:19px;margin:0;padding:0;text-align:left"><small style="font-size: 11px;"><i><br><b>DISCLAIMER:</b><br> You are receiving this email becauseyou have subscribed to emails from https://cashiercards.in. Please note that you may continue to receive such email even if you have opted out of email form Cashier Card website/App, since we do not have access to Cashier database. If you do not wish to receive this emailinn future from Cashier Card Please click the unsubscribe link below.</i></small>
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="" style="margin:0 auto;background:#fefefe!important;border:1px solid #ddd;border-bottom:1px solid #12629b;border-collapse:collapse;border-spacing:0;border-width:0 1px 0;color:#fefefe;float:none;margin:0 auto;margin-top:0!important;padding:0;text-align:center;vertical-align:top;width:600px" align="center" cellpadding="0" cellspacing="0">
              <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                  <td style="margin:0;border-collapse:collapse!important;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <table class="" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="" style="margin:0 auto;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;padding-top:16px!important;text-align:left;width:564px">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                              <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                  <td style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left"><hr style="margin:0px auto 15px;border-bottom:1px solid #cacaca;border-left:0;border-right:0;border-top:0;clear:both;height:0;max-width:580px">
                                    <p class="" style="margin:0;margin-bottom:10px;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:18px;font-weight:300;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center;color: #d32a2b;"><b>#AbCashNahiCashierChalega</b></p>
                                  </td>
                                </tr>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                  <td style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left">
                                    <p class="" style="margin:0;margin-bottom:10px;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:300;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center"><b>Reach us on social media</b></p>
                                  </td>
                                </tr>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                  <td style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left">
                                    <p class="" style="margin:0;margin-bottom:10px;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:300;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center"><a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFZSURBVFhH7ZYxS8NQEMfzxZr4DZp2cFUqglvdOomCg4Pi0Nlv4NgXB1sqLRacKqJxdBGLoDiKg/TMtRdpX+6Spz4q6PvBHx7h/vc/8hI4z+HgKJXVWlBRsR9G70Elgp9o2kPFQVmtUvt8/PCkxjWyIpMhksLbjNGS/FDdUIyMjdcuCXtTjAxnNFW11oHNrQvY3h9OtLzezdRQjIxuMNFSNYKocw/jMcyxe3iZqaUYGd1gop2DIUXOs7ABjlt3FAnw/PIGe82rxV5Bu/9A8QDd8xFbk4piZDhTkWYHwDNXk4piZDiTpNlgjnryR+geipHRDXkqGgB/S91DMTK6IU/NoxjOBiN4fHqlSJic8dlpj78KipHhTEX6tW8glRvADfC3BvjOQmI6gOlC8uWVbKMx+FxC8MzVoJIBrilGBhdHzmxDpbC1QjH5YCEukDb2Q+yBvYzDHf8Mz/sAqNuFVGAP7y8AAAAASUVORK5CYII=" class="" style="margin:0 auto;clear:both;display:inline-block;float:none;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a><a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAINSURBVFhH7ZaxaxRBFMbHnVsRIyGCjRJbBRtN+hAsTBUQ0ZAmIP4Paay0ERuRQAoxjWC47MxBCMRCsbGwkUAarRILCagkENHbmb3TcHH8Zn3FnTu77u5duv3Bx+3evve9tzO7M8sqKiqcNAyno3w8/z3EpbrPhd7G7wH0hQu1xILWeYpgNRlOspXoHJ1mA6MFHkTX6TSbenjGk/oDl9okJPQ362WvQ2+YMccoKxt0vwP94jK8RX+lggLCWbxLntDveaCn4TlDadkgsPU3WR3i+AGm5Dhd6mVVn41j/imYVOyzw1ajUcrMJu6420Doj55Uc+yp8SkkBsbXeuJSZP1yz78F8zXvMoJ2cSdP0MwsC5oXMKxTjpikhHpI1jm4ZzxW/3EaXb91mpWQvSFyzweGfA8NvEbnHZdhUcXTVwRPqJcuo7JisnmRrPPhN/SVQd09HtRPZFsMuwagCXod+9IjsizI2vcRLqMbmL93DtN8Eupnodevh2fmBAw+O43zSuhFciuH3UDQROQ0/7+2WGPvFFmVxxf6MqbhBR6mtqNIilQbeeNkMRiwmNzO+VA24613IGCzwYJ0ByOw6SiUFDYc+wpTdjlqQThBq+BXZxGX7NYt9GO2vD9MNn2CLxy7fEKvYBymFO3g+gaavWtHijKPAPt5JsNLKHiVi/Cm3QH9FT3G1s1JiqioqOgDxv4A02stG+yONPsAAAAASUVORK5CYII=" class="" style="margin:0 auto;clear:both;display:inline-block;float:none;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a><a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVFhH7Za7SgNREIYHrewEKwvzBIKlxW4SwTQWKojW2mkheKkEH8Fb6a1WCHkEu4CV4gNE0qidIJGAjXLGfzYTTsxOgsR1q/3gJ4fZmfmHze7ZQxkZGRYcUM4VaAnaciGduDxV8HvLebrHug69QG+IfUWSdStWj3KQi3UFOo56oJf01Pa94RUaRtEFmvB/CL3PxUPt4mDyXaswSWGIbbWLg4t3VlGSEg+1i8MhNayiJIW73FS7n7hZGrMKTO3NM8+N2td+IdyFcbX1uCJNWsmmbq6YG6/MB+vMxSE7p49wF6bV1oNgYCWbkgHa1B6YNwt2Xi+FVFJbjwTNZEudAwjOIXbNvJyz87sk+4LaehBcsJJNdQ/Q5qPJfLnPXBqx67zW1NaT5gB4CFfV1pPqX5CnRbX1pPoQBjSjtp6BXsPDjcFew4Cm1NaT6kYEL7X9SSpbcZ7e1S6OfCisoiQlHmoXBw/ijlWUpOSAonZxogNJSGeY0lnFf5H0RO/TvgeSNkiekO1SpsX6CIVlqIpGctyqQU+Iy5HsM1Jr/Qw9ak4VKke1eiSTnto+IyOjA6JvLuq9WWXyt0wAAAAASUVORK5CYII=" class="" style="margin:0 auto;clear:both;display:inline-block;float:none;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a></p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <table class="" style="margin:0 auto;background:0 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;margin-top:2em!important;padding:0;padding-top:16px;text-align:center;vertical-align:top;width:600px" align="center" cellpadding="0" cellspacing="0">
              <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                  <td style="margin:0;border-collapse:collapse!important;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <table class="" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="" style="margin:0 auto;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;padding-top:16px!important;text-align:left;width:564px">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                  <th style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left">
                                    <p class="" style="margin:0;margin-bottom:10px;color:#cacaca;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center"><small class="" style="color:#cacaca;font-size:80%;padding-top:0px;width:29%"><br><a href="#">Click Here</a> to Unsubscribe.</small></p>
                                    <p class="" style="margin:0;margin-bottom:10px;color:#cacaca;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center"></p>
                                  </th>
                                  <th class="" style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0!important;text-align:left;width:0"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table> -->
            <table class="" style="margin:0 auto;background:0 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px" align="center" cellpadding="0" cellspacing="0">
              <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                  <td style="margin:0;border-collapse:collapse!important;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <table class="" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="" style="margin:0 auto;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;padding-top:16px!important;text-align:left;width:564px">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                  <th style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0;text-align:left"></th>
                                  <th class="" style="margin:0;color:#333;font-family:'Century Gothic','Lucida Sans','Tahoma','Arial'!important;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0!important;text-align:left;width:0"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>