/*-- 
TABLE OF CONTENTS
1. Basic style							line 28
2. Hover effect							line 133
3. Animation setup						line 184
4. Theme switcher						line 199
5. Wrapper								line 309
6. Preloader							line 334
7. Header & footer						line 361
8. Countdown							line 381
9. Social media							line 439
10. Home section style					line 466
11. Info container						line 521
12. About section style					line 584
13. Subscribe section style				line 658
14. Contact section style				line 680
15. Form style							line 717
16. Tablets style						line 837
17. Smartphone style					line 851
18. Iphone 6 & Iphone 6 plus style		line 949
 --*/
 
/*-- =================== BASIC STYLE ====================== --*/

html, body{
	-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	overflow:hidden;
	font-family:'Century Gothic', sans-serif;
	font-weight:300;
}
.centering-x{
	left:50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.centering-y{
	top: 50%;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
}
.centering-xy{
	top:50%;
	left:50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.section-title{
	margin-top:0px;
	display:inline-block;
	text-align:center;
}
.border-left{
	border-left:1px solid rgba(0,0,0,0.2);
}
.border-right{
	border-right:1px solid rgba(0,0,0,0.2);
}
.border-top{
	border-top:1px solid rgba(0,0,0,0.2);
}
.border-bottom{
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.overlay{
	position:fixed;
	display:block;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0.75;
	z-index:2;
	transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
}
.bg-container{
	position:fixed;
	display:block;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:1;
}
h1{
	font-family: 'Century Gothic', sans-serif;
	font-weight:900;
	color:white;
	font-size:41px;
	letter-spacing:0px;
	margin:0px;
	padding:0px;
}
h3{
	color:white;
}
h4{
	margin:0px;
	padding:0px;
	font-size:16px;
	line-height:25px;
	font-weight:300;
	color:white;
}
header .logo{
	font-family: 'Century Gothic', sans-serif;
	font-size:32px;
	color:white;
	text-align:left;
	line-height:100px;
}
footer p{
	font-size:14px;
	text-align:center;
	color:white;
}

/*-- =================== HOVER EFFECT ================== --*/
.hover-effect-1 a:after,
.hover-effect-1 a:before,
.info-container h3.info-title:after,
.info-container h3.info-title:before
{
	position: absolute;
	display:block;
	top: 100%;
	margin-left:-4px;
	height: 1px;
	background: #484848;
	content: '';
	opacity: 0;
	-webkit-backface-visibility:hidden;
	-webkit-transition: height 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
	-moz-transition: height 0.3s ease, opacity 0.3s ease, -moz-transform 0.3s ease;
	transition: height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.hide-after a:after,
.hide-after a:before{
	display:none;
}

.hover-effect-1 a:before,
.info-container h3.info-title:before
{
	top:-3px;
	opacity:0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility:hidden;
}

.hover-effect-1 a:hover:after,
.hover-effect-1 a:hover:before,
.info-container h3.info-title:after,
.info-container h3.info-title:before
 {
	height: 1px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-backface-visibility:hidden;
}

/*-- =================== ANIMATION SETUP ==================== --*/
header, .days_dash, .hours_dash, .home h1, .info-link, footer, .close-link,
.about, .subscribe, .contact, .back-to-top
{
	opacity:0;
}
.home h1, .info-link{
	-webkit-animation-delay: 0.5s;
	animation-delay:0.5s;
}
.days_dash, .hours_dash{
	-webkit-animation-delay: 1.5s;
	animation-delay:1.5s;
}

/*-- =================== THEME SWITCHER ================== --*/
#theme-switcher{
	position:fixed;
	top:150px;
	left:-200px;
	z-index:6;
	background:white;
	width:200px;
	height:auto;
	padding:10px 0px 10px 0px;
	border:1px solid rgba(0,0,0,0.2);
	transition:left 0.5s ease;
	-webkit-transition:left 0.5s ease;
}
#theme-switcher.open{
	left:0px;
}
#theme-switcher a.switch{
	position:absolute;
	right:-40px;
	top:-1px;
	background:white;
	width:42px;
	height:42px;
	text-align:center;
	line-height:42px;
	color:rgba(72,72,72,1.0);
	text-decoration:none;
	outline:none;
	font-size:20px;
	border-top:1px solid rgba(0,0,0,0.2);
	border-right:1px solid rgba(0,0,0,0.2);
	border-bottom:1px solid rgba(0,0,0,0.2);
	transition:color 0.3s ease;
	-webkit-transition:color 0.3s ease;
	-webkit-backface-visibility:hidden;
}
#theme-switcher a.switch:hover{
	color:rgba(72,72,72,0.5);
}
#theme-switcher p{
	width:100%;
	display:inline-block;
	text-align:center;
	color:#484848;
	font-weight:700;
	letter-spacing:2px;
	text-transform:uppercase;
	font-size:12px;
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding-bottom:10px;
	margin:0px 0px 15px 0px;
}
#theme-switcher ul{
	width:100%;
	display:inline-block;
	padding:0px;
	margin:0px;
	text-align:center;
}
#theme-switcher ul li{
	display:inline-block;
	width:35px;
	height:auto;
	list-style:none;
	margin:0px 5px 0px 5px;
}
#theme-switcher ul li a{
	text-decoration:none;
	outline:none;
	border:none;
}
#theme-switcher ul li a span{
	display:block;
	width:35px;
	height:35px;
}
#theme-switcher ul li a span.theme1-color{
	background:#d96459;
}
#theme-switcher ul li a span.theme1-gradient{
	background: -webkit-linear-gradient(60deg, #556270 10%, #FF6B6B 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(60deg, #556270 10%, #FF6B6B 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(60deg, #556270 10%, #FF6B6B 90%); /* IE10 */
  	background:      -o-linear-gradient(60deg, #556270 10%, #FF6B6B 90%); /* Opera 11.10+ */
  	background:         linear-gradient(60deg, #556270 10%, #FF6B6B 90%); /* W3C */
}
#theme-switcher ul li a span.theme2-color{
	background:#f07818;
}
#theme-switcher ul li a span.theme2-gradient{
	background: -webkit-linear-gradient(60deg, #FF4E50 10%, #F9D423 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(60deg, #FF4E50 10%, #F9D423 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(60deg, #FF4E50 10%, #F9D423 90%); /* IE10 */
  	background:      -o-linear-gradient(60deg, #FF4E50 10%, #F9D423 90%); /* Opera 11.10+ */
  	background:         linear-gradient(60deg, #FF4E50 10%, #F9D423 90%); /* W3C */   
}
#theme-switcher ul li a span.theme3-color{
	background:#d94e67;
}
#theme-switcher ul li a span.theme3-gradient{
	background: -webkit-linear-gradient(60deg, #FF512F 10%, #DD2476 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(60deg, #FF512F 10%, #DD2476 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(60deg, #FF512F 10%, #DD2476 90%); /* IE10 */
 	background:      -o-linear-gradient(60deg, #FF512F 10%, #DD2476 90%); /* Opera 11.10+ */
  	background:         linear-gradient(60deg, #FF512F 10%, #DD2476 90%); /* W3C */   
}



/*-- =================== WRAPPER =================== --*/
#home-wrapper, #info-wrapper{
	position:absolute;
	display:inline-block;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:3;
	-webkit-backface-visibility:hidden;
}
#home-wrapper > .container{
	height:100%;
}
#info-wrapper{
	top:100%;
	opacity:0;
	display:none;
	overflow:auto;
	background:#fff;
	z-index:9999;
	transition:opacity 1s ease, top 1s ease;
	-webkit-transition:opacity 1s ease, top 1s ease;
}

/*-- =================== PRELOADER ==================== --*/
#preloader{
	position:fixed;
	width:100%;
	height:100%;
	background:white;
	z-index:7;
}
#preloader .loader {
	position:relative;
	top:50%;
	margin:-25px auto 0px auto;
	font-size: 5px;
	border-top: 5px solid rgba(0, 0, 0, 0.1);
	border-right: 5px solid rgba(0, 0, 0, 0.1);
	border-bottom: 5px solid rgba(0, 0, 0, 0.1);
	border-left: 5px solid #484848;
	-webkit-animation: loaderAnim 1.1s infinite linear;
	animation: loaderAnim 1.1s infinite linear;
}
#preloader .loader,
#preloader .loader:after {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

/*-- ====================== HEADER & FOOTER ======================= --*/
header, footer{
	margin:0px;
	padding:0px;
	display:block;
	width:100%;
	height:100px;
}
footer{
	position:absolute;
	left:0px;
	bottom:0px;
	display:inline-block;
	height:70px;
	overflow:hidden;
}
footer p{
	width:100%;
}

/*-- =================== COUNTDOWN ========================== --*/
.countdown{
	font-family: 'Century Gothic', sans-serif;
	posi/tion:absolute;
	display:block;
	left:50%;
	top:-70px;
	wid/th:380px;
	height:95%;
	overflow:visible;
	color:rgba(255,255,255,0.6);
	tra/nsform:translateX(-50%);
	-web/kit-transfo/rm:translateX(-50%);
}
.countdown .dash{
	position:absolute;
	display:block;
	text-align:center;
	width:100%;
}
.countdown .hours_dash{
	bottom:0px;
}
.countdown .dash:before, .countdown .dash:after{
	content:'';
	display:block;
	position:absolute;
	width:50%;
	top:50%;
	left:-60%;
	height:1px;
	background:rgba(255,255,255,0.3);
}
.countdown .dash:after{
	left:110%;
}
.countdown .digit{
	position:relative;
	fl/oat:left;
	font-size:40px;
	font-weight:400;
	overflow:visible;
	width:auto;
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
.countdown .dash_title{
	position:relative;
	float:right;
	color:rgba(255,255,255,0.3);
	font-size:18px;
	font-weight:400;
	margin:23px 0px 0px 10px;
	vertical-align:middle;
	letter-spacing:4px;
}

/*-- =============== SOCIAL MEDIA ================= --*/
.social-media-container{
	position:relative;
	float:right;
	height:100px;
	width:auto;
	display:block;
}
.social-media-container a{
	line-height:100px;
	margin:0px 0px 0px 20px;
	color:white;
	outline:none;
	border:none;
	text-decoration:none;
	text-align:center;
	font-size:16px;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.social-media-container a:hover{
	color:#242424;
}

/*-- ====================== HOME ======================= --*/
.home-container{
	height:100%;
}
.home{
	position:absolute;
	display:inline-block;
	padding:48px 0px 0px 0px;
	text-align:center;
	left:0px;
	width:100%;
	height:auto;
	-webkit-transition: -webkit-transform 1s ease, top 1s ease;
  	-moz-transition: -moz-transform 1s ease, top 1s ease;
  	-o-transition: -o-transform 1s ease, top 1s ease;
  	transition: transform 1s ease, top 1s ease;
}
.info-link, 
.info-container .close-link,
.info-container .backtop-link
{
	position:relative;
	display:inline-block;
	width:auto;
	text-align:center;
	margin-top:-10px;
	padding:7px 0px 7px 0px;
	/*margin-left: 56px;*/
}
.info-link a,
.info-container .close-link a,
.info-container .backtop-link a
{
	font-size:14px;
	color:white;
	font-weight:700;
	letter-spacing:5px;
	text-transform:uppercase;
	outline:none;
	border:none;
	text-decoration:none;
	transition:color 0.3s ease;
	-webkit-transition:color 0.3s ease;
}
.info-link a:hover{
	color: #ffffff;
	-webkit-backface-visibility:hidden;
}
.hover-effect-1 a:after,
.hover-effect-1 a:before
{
	width:100%;
	left:2px;
	background:#ffffff;
}

/*-- ====================== INFO CONTAINER ======================== */
.info-container{
	text-align:center;
	padding-bottom:50px;
}
.info-container .close-link, 
.info-container .backtop-link
{
	margin:50px 0 40px 500px;
}
.info-container .backtop-link{
	margin:100px 0px 0px 0px;
}
.info-container .close-link span,
.info-container .backtop-link span
{
	margin-right:5px;
}
.info-container .close-link a,
.info-container .backtop-link a
{
	color: #484848;
}
.info-container .hover-effect-1 a:after,
.info-container .hover-effect-1 a:before
{
	width:100%;
	left:2px;
	background: #484848;
}
.info-container h3.info-title{
	position:relative;
	display:inline-block;
	width:auto;
	margin:0px;
	padding:15px 0px 15px 0px;
	color:#484848;
	font-weight:700;
	letter-spacing:5px;
	text-transform:uppercase;
	font-size:30px;
}
.info-container h3.info-title:before{
	top:0px;
}
.info-container h3.info-title:after,
.info-container h3.info-title:before
{
	left:50%;
	width:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	background:rgba(0,0,0,0.2);
}
.info-container p.info-desc{
	margin:50px 0px 0px 0px;
	padding:0px;
	color:#484848;
	font-weight:400;
	font-size:14px;
	line-height:25px;
}

/*-- ====================== ABOUT ==================== --*/
.about .about-services{
	margin-top:50px;
}
.about .about-services .service-container, 
.contact-location .location-container{
	height:200px;
	text-align:center;
}
.contact-location .location-container{
	height:150px;
	padding-right:0px;
}
.about .about-services .service-container .services, 
.contact-location .location-container .location{
	position:absolute;
	left:0px;
	display:inline-block;
	width:100%;
	height:auto;
}
.about .about-services .service-container .services .icon, 
.contact-location .location-container .location .icon{
	font-size:35px;
	margin:0px;
	padding:0px;
	color: #484848;
	-webkit-transition: color 0.3s ease;
  	transition: color 0.3s ease;
}
.about .about-services .service-container .icon-overlay,
.contact-location .location-container .icon-overlay
{
	position:absolute;
	display:inline-block;
	margin-top:-80px;
	font-size:0px;
	color:black;
	opacity:0;
	-webkit-transition: font 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
  	transition: font 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
}
.about .about-services .service-container .services .name,
.contact-location .location-container .location .name
{
	display:block;
	margin-top:10px;
	font-size:14px;
	color: #484848;
	text-transform:uppercase;
	font-weight:700;
	-webkit-transition: color 0.3s ease;
  	transition: color 0.3s ease;
}
.about .about-services .service-container .services .desc,
.contact-location .location-container .location .desc
{
	display:block;
	opacity:1;
	height:auto;
	font-size:13px;
	font-weight:400;
	color:#484848;
	margin-top:10px;
}
.about .about-services .service-container:hover .icon-overlay,
.contact-location .location-container:hover .icon-overlay
{
	opacity:0.1;
	margin-top:0px;
	font-size:70px;
}
/*-- ====================== END ABOUT ==================== --*/

/*-- ====================== SUBSCRIBE ====================== --*/
.subscribe{
	position:relative;
	float:left;
	margin-top:250px;
}
.subscribe-container{
	padding:50px 0px 50px 0px;
	border:1px solid rgba(0,0,0,0.2);
}
.subscribe-container h3.info-title{
	margin-top:0px;
}
.subscribe-container p.info-desc{
	text-align:left;
}
.subscribe-container .subscribe-form-container{
	margin-top:50px;
}

/*-- ====================== END SUBSCRIBE ====================== --*/

/*-- ====================== CONTACT ===================== --*/
.contact{
	position:relative;
	float:left;
	display:block;
	width:100%;
	margin-top:100px;
}
.contact .contact-location, 
.contact .send-message
{
	margin-top:50px;
}
.contact .send-message p{
	font-size:14px;
	color:#484848;
	font-weight:400;
	margin:0px 0px 10px 0px;
	text-align:left;
	line-height:25px;
}
.contact .notif-contact-container{
	display:block;
	float:left;
	margin-top:-5px;
}
.contact .form-container-contact{
	padding:0px;
}
.contact .form-container-contact label{
	margin-top:-5px;
}
.contact .form-container-contact input[type="text"], .contact .form-container-contact textarea{
	margin-bottom:10px;
}
/*-- ====================== END CONTACT ===================== --*/

/*-- ====================== FORM STYLE ========================== --*/
::-webkit-input-placeholder{
	color: #888888;
}
:-moz-placeholder{
	color: #888888;
}
::-moz-placeholder{
	color: #888888;
}
:-ms-input-placeholder{
	color: #888888;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select{
	border:none;
	border-bottom:1px solid #484848;
	outline:none;
	background:none;
	padding:13px 25% 13px 18px;
	color:#484848;
	font-weight:400;
	font-size:15px;
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
	/*-- transition --*/
	transition: border 0.3s ease;
	-webkit-transition: border 0.3s ease;
}
textarea{
	height:150px;
	resize:none;
}
button[type="submit"].submit-subscribe, button[type="submit"].submit-message{
	text-transform: uppercase;
    border-radius: 5px;
    width: 80%;
    font-weight: 600;
    font-size: 18px;
    background: -webkit-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -moz-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -ms-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -o-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: linear-gradient(60deg, #ef1821 10%, #291859 90%);
    border: none;
    padding: 10px 12px;
    margin-top: 4%;
    color: #ffffff;
}
button[type="submit"].submit-message{
	position:relative;
	float:right;
	right:0px;
	margin-right:-1px;
	border:1px solid #484848;
	padding:15px 19px 15px 23px;
}
label.loading-subscribe, label.subscribe-notif-success, label.subscribe-notif-error, label.error, label.loading-contact, label.contact-notif-success, label.contact-notif-error{
	position:relative;
	float:left;
	width:100%;
	text-align:left;
	margin:10px 0px 0px 18px;
	color:#484848;
	font-weight:400;
	font-size:13px;
	display:none;
}
label.contact-notif-error{
	display:block;
}
label.loading-contact, label.contact-notif-success, label.contact-notif-error{
	text-align:center;
	margin:0px 0px 10px 0px;
}
label.loading-subscribe, label.loading-contact{
	padding-left:20px;
}
label.loading-subscribe:before, label.loading-contact:before{
	position:absolute;
	left:0px;
	font-family:'FontAwesome';
	content:'\f021';
	
	/*--- rotating animation ---*/	
	-webkit-animation: spin 1.5s linear 0s infinite;
	-moz-animation: spin 1.5s linear 0s infinite; 
	animation: spin 1.5s linear 0s infinite;
}
label.loading-contact:before{
	display:inline-block;
	left:auto;
	margin-left:-22px;
}
label.subscribe-notif-error:before, label.error:before, label.contact-notif-error:before{
	font-family:'FontAwesome';
	content:'\f00d';
	margin-right:10px;
}
label.subscribe-notif-success:before, label.contact-notif-success:before{
	font-family:'FontAwesome';
	content:'\f00c';
	margin-right:10px;
}
label.subscribe-notif-success, label.contact-notif-success{
	color:#8ce556;
}
label.subscribe-notif-error, label.error, label.contact-notif-error{
	color:#eb7171;
}
label.error{
	margin:0px 0px 10px 18px;
}

/*-- ====================== RESPONSIVE STYLE ===================== --*/

/*-- ====================== TABLETS ===================== --*/
@media all and (min-width: 768px) and (max-width: 991px){
	.contact .contact-location .location-container{
		border-right:none;
	}
	.subscribe-container p.info-desc{
		text-align:center;
	}
	button[type="submit"].submit-message{
		float:none;
		margin:auto auto;
	}
}

/*-- ====================== SMARTPHONE ===================== --*/
@media all and (max-width: 767px){
	html,body{
		min-height:100%;
		height:auto;
		overflow-y:auto;
		overflow-x:hidden;
	}
	header .logo{
		font-size:24px;
		text-align:center;
		line-height:60px;
	}
	.home{
		position:relative;
		float:left;
		margin-top:30px;
		padding:0px;
		top:0px;
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-o-transform: translateY(0%);
		transform: translateY(0%);
	}
	h1{
		font-size:48px;
	}
	.countdown{
		top:-50px;
		width:150px;
		height:95%;
	}
	.countdown .digit{
		font-size:34px;
		margin:0px;
		padding:0px;
	}
	.countdown .dash_title{
		font-size:14px;
		margin:13px 0px 0px 10px;
	}
	.home .info-link{
		margin-top:80px;
	}
	footer{
		position:relative;
		float:left;
		margin-top:50px;
		padding-bottom:10px;
		height:auto;
	}
	.social-media-container{
		position:relative;
		float:none;
		height:auto;
		text-align:center;
		width:100%;
		display:inline-block;
	}
	.social-media-container a{
		margin:0px 10px 0px 10px;
		line-height:30px;
	}
	#home-wrapper, #info-wrapper{
		min-height:100%;
		height:auto;
		overflow:hidden;
	}
	.about .about-services .service-container{
		border:none;
		border-bottom:1px solid rgba(0,0,0,0.2);
	}
	.about .about-services .service-container:last-child{
		border:none;
	}
	button[type="submit"].submit-subscribe{
		position:relative;
		right:0px;
		margin:auto auto;
	}
	.contact .contact-container, .contact .location-wrapper{
		padding:0px;
	}
	.contact .location-wrapper .send-message p,
	.subscribe-container p.info-desc{
		text-align:center;
	}
	.contact .location-wrapper .location-container{
		border-right:none;
	}
	.contact .location-wrapper .send-message .form-container-contact{
		padding:0px;
	}
	button[type="submit"].submit-message{
		float:none;
		margin:auto auto;
	}
}
/*-- ====================== IPHONE 6 AND 6 PLUS ===================== --*/
@media all and (min-height: 667px) and (max-height: 736px) and (max-width: 767px){
	#home-wrapper{
		height:100%;
	}
	.home{
		position:absolute;
		display:inline-block;
		margin:0px;
		padding:0px;
		top:50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.home .info-link{
		margin-top:100px;
	}
	.countdown{
		top:-50px;
		width:150px;
		height:88%;
	}
	footer{
		position:absolute;
		display:inline-block;
		bottom:0px;
		height:auto;
	}
}