/*Custom css starts here*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
	background: url(../img/sample.png) no-repeat;
	background-position: center;
}

.navbar-default .navbar-collapse {
	margin-top: 6px;
}

#home-wrapper header {
	padding: 20px 0 20px 0;
}

.roundHead .top-logo img {
	width: 450px;
}
.info-logo{
	    margin-bottom: 5%;
}
@media screen and (max-width: 425px) {
	.countdown {
		width: 180px;
	}
	.countdown .dash:before, .countdown .dash:after {
		width: 40%;
		left: -50%;
	}
	.countdown .dash:after {
		left: 100%;
	}
}

.roundHead {
	z-index: 999;
	position: relative;
}
.roundHead .top-logo img {
	/*position: absolute;*/
	    margin-top: -414px;
    /*margin-left: 714px;*/
}

@media (min-width: 768px) {
	#header .countdown {
		font: 600 7rem/3rem 'Century Gothic', sans-serif;
	}
}
@media (min-width: 992px) {
	#header .header-content {
		padding-bottom: 3rem;
	}
}

#header .countdown {
	margin-top: 445px;
    color: #fff;
    font: 600 7rem/3rem 'Century Gothic', sans-serif;
}

#header h1 {
	margin-bottom: 0.75rem;
	font-size: 36px;
}

#header .p-under-header {
	margin-bottom: 1.5rem;
}

#header .list-unstyled {
	margin-bottom: 1.75rem;
}

#header .list-unstyled .fa {
	margin-right: 0.5rem;
	margin-left: 0.75rem;
}

.overlay_black{

  	background: #000000d9; /* Chrome 10+, Saf5.1+ */
}
.overlay_black{
	position:fixed;
	display:block;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0.5;
	z-index:2;
	transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
}
#info-wrapper .close-link {
	float: right;
	z-index: 999;
	position: fixed;
}
#info-wrapper .about {
	margin: 30px 0 50px 0;
}
.about .team-headings h3 {
	text-transform: uppercase;
	color: #000;
	font-weight: 300;
	font-size: 3.2rem;
	margin-bottom: 2px;
}
.about .team-headings h2 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 6rem;
	margin-top: 0;
}

.mt-50 {
	margin-top: 50px;
}
.mt-70 {
	margin-top: 70px;
}
.mb-25 {
	margin-bottom: 25px;
}
.btn-participate .btn-primary {
	text-transform: uppercase;
	border-radius: 5px;
	width: 80%;
	font-weight:600;
	font-size: 18px;
	background: -webkit-linear-gradient(60deg, #ef1821 10%, #291859 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(60deg, #ef1821 10%, #291859 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(60deg, #ef1821 10%, #291859 90%); /* IE10 */
 	background:      -o-linear-gradient(60deg, #ef1821 10%, #291859 90%); /* Opera 11.10+ */
  	background:         linear-gradient(60deg, #ef1821 10%, #291859 90%); /* W3C */
  	border: none;
  	padding: 10px 12px;
  	fl/oat: left;
	margin-top: 4%;
}
.roundHead .terms_privacy {
	position: absolute;
    padding: 5px 30px;
    text-transform: uppercase;
    right: 0;
}
.roundHead .terms_privacy span a {
	text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-size: 12px;
}
.roundHead .terms_privacy span a:hover {
	text-decoration: underline;
}
.official img {
	position: absolute;
    width: 7%;
        margin-top: -28%;
    margin-left: 2%;
}

.default-header {
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: #ffffff82;
}

#info-wrapper .navbar-default {
	border-radius: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 70px;
    padding: 0 4%;
}
#info-wrapper .navbar-brand img {
	width: 160px;
    margin-top: -8px;
}
.card-img img {
	width: 50%;
}
h3 .info-title {
	text-align: center;
}
.cardonmob img {
	float: right;
    width: 38%;
    margin-top: -244px;
    position: relative;
}
.start-wrp .title-head h3 {
	color: #000;
    font-size: 32px;
    font-weight: 500;
    margin-top: 40%;
}
.start-wrp .title-text p {
	color: #000;
    font-size: 18px;
    font-weight: 500;
}
.start-wrp {

}
.download-container {
	background: linear-gradient(to right, rgba(239, 24, 33, 0.90), rgba(41, 24, 89, 0.90));
    background: -webkit-linear-gradient(to right, rgba(239, 24, 33, 0.90), rgba(41, 24, 89, 0.90));
    background: -webkit-linear-gradient(to right, rgba(239, 24, 33, 0.90), rgba(41, 24, 89, 0.90));
    background: -webkit-gradient(to right, rgba(239, 24, 33, 0.90), rgba(41, 24, 89, 0.90));
    background: -o-linear-gradient(to right, rgba(239, 24, 33, 0.90), rgba(41, 24, 89, 0.90));
    background: linear-gradient(to right, rgba(239, 24, 33, 0.90), rgba(41, 24, 89, 0.90));
    padding: 50px 0;
}
.download-container .download-wrp {
	margin-top: 18px;
}
.download-container .download-wrp h3 {
	font-size: 36px;
    margin-top: 10px;
    font-weight: 400;
}
.download-container .download-wrp span {
	color: #fff;
}
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}
.footer-btm {
	background: #333333;

	padding: 30px 0;

	padding: 20px 0;
}
.footer-btm .footer-content .footer-img img {
	width: 18%;
	margin-bottom: 15px;
	color: #fff;
}
.footer-btm .footer-content .footer-links {
	
	color: #fff !important;
}
.footer-btm .footer-content .footer-links a {
	font-size: 14px;
	color: #fff;
}
.footer-btm .copyright-wrp {
	pad/ding: 20px 0 20px;
}
.footer-btm .copyright-wrp a {
	color: #fff !important;
}
.footer-btm .copyright-wrp p {
	color: #fff;
	text-align: right;


	margin: 0 0;

}
.btn-primary {
 text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    background: -webkit-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -moz-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -ms-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -o-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: linear-gradient(60deg, #ef1821 10%, #291859 90%);
    border: none;
    padding: 8px 10px;
    margin-top: 4%;
}
.btn-mob {
 text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
    font-size: 9px;
    background: -webkit-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -moz-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -ms-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -o-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: linear-gradient(60deg, #ef1821 10%, #291859 90%);
    border: none;
    padding: 5px 8px;
    margin-top: 4%;
    color: #ffffff;
}
.btn-mob {
	position: relative;
	float: right;
	margin-right: 10px;
}

/*offers section*/

.offers-wrapper {
	overflow-x: hidden;
	padding: 70px 0;
}
.offers-wrapper .btn {
	margin-top: 40px;
	border-radius: 8px;
	font-size: 17px;
	padding: 8px 16px;
	font-weight: 500;
	background: -webkit-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -moz-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -ms-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: -o-linear-gradient(60deg, #ef1821 10%, #291859 90%);
    background: linear-gradient(60deg, #ef1821 10%, #291859 90%);
    color: #fff;
}
.offers-wrapper button:hover {
	color: #fff;
}
.slick-dots li.slick-active button:before {
	color: #fff !important;
}
.slick-dots li button:before {
	color: #fff !important;
	font-size: 14px;
}
.partners-img ul {
	padding: 0;
    background: #ffffff4f;
    border-left: 1px solid #efefef;
    border-top: 1px solid #efefef;
    margin-bottom: 70px;
}
.partners-img ul li {
	display: inline-block;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 204px;
    list-style-type: none;
    transition: all 0.3s;
}
.partners-img ul li:hover {
	box-shadow: 0px 0px 6px 4px #efefef;
}
.partners-img .brands-heading h4 {
	font-size: 26px;
	font-weight: 600;
	color: #131450;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.pd-40 {
	padding: 40px 0;
}

/*Media Queries*/
@media only screen and (max-width: 375px) {
	#info-wrapper .navbar-brand img {
		margin-top: -13px !important;
	}
	#header h1 {
		font-size: 22px !important;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.roundHead img {
		margin-top: 0px;
    	position: fixed;
	}
	#myNavbar {
		background: #ffffff;
	    position: relative;
	    z-index: 9999;
	}
	.roundHead .top-logo img {
		margin-left: 153px;
	    width: 220px;
	    margin-top: 34px;
	}
	.roundHead .official img {
		margin-top: 10px;
    	width: 56px;
	}
	.countdown {
		top: 0;
	    width: auto;
	    height: auto;
	}
	#header .countdown {
		margin-top: 244px;
	}
	#header h1 {
		font-size: 24px;
	}
	body {
		background-position: center;
	}
	.roundHead .terms_privacy {
		display: none;
	}
	.navbar-brand {
		float: initial;
	}
	#info-wrapper .navbar-brand img {
		margin-top: -9px;
    	margin-left: 10px;
	}
	.cardonmob img {
		margin-top: -130px;
	}
	.start-wrapper img {
		width: 55%;
	}
	.footer-btm .copyright-wrp p {
		text-align: center;
	}
	.start-wrp .title-head h3 {
		margin-top: 0;
	}
	.navbar-default .navbar-collapse {
		margin-top: 0;
	}
}
@media only screen and (max-width: 425px) {
	.roundHead .top-logo img {
		margin-left: 136px;
	    width: 155px;
	    margin-top: 21px;
	}
	.roundHead .official img {
		margin-top: 8px;
    	width: 40px;
	}
}
@media only screen and (max-width: 375px) {
	.roundHead .top-logo img {
		margin-left: 123px;
	    width: 140px;
	    margin-top: 22px;
	}
	.roundHead .official img {
		margin-top: 6px;
    	width: 38px;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.roundHead img {
		margin-top: 0px;
    	position: fixed;
	}
	.roundHead .top-logo img {
		margin-left: 175px;
	    width: 254px;
	    margin-top: 26px;
	}
	.roundHead .official img {
		margin-top: 10px;
    	width: 56px;
	}
	#header .countdown {
		margin-top: 300px;
	}
	#header h1 {
		font-size: 36px;
	}
	.countdown {
		width: auto;
    	height: auto;
	}
	.info-container h3.info-title {
		font-size: 26px;
	}
	.start-wrapper img {
		width: 46%;
    	margin-bottom: 25px;
	}
	.start-wrp .title-head h3 {
		margin-top: initial;
	}
	.footer-btm .copyright-wrp p {
		text-align: right;
	}
	.btn-mob {
		display: none;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.roundHead .top-logo img {
		margin-left: 245px;
	    width: 280px;
	    margin-top: 45px;
	}
	.roundHead .terms_privacy {
		z-index: 9999;
		padding: 5px 17px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.roundHead .top-logo img {
		margin-left: 330px;
	    width: 338px;
	    margin-top: 71px;
	}
	.roundHead .official img {
		margin-top: 18px;
    	width: 8%;
	}
	#header .countdown {
		margin-top: 418px;
	}
	#header h1 {
		font-size: 62px;
	}
	.cardonmob img {
		margin-top: -169px;
	}
	.start-wrp {
		margin-top: 140px;
	}
	.download-wrp img {
		width: 300px;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.roundHead .top-logo img {
		margin-left: 408px;
	    width: 390px;
	    margin-top: 80px;
	}
}
@media only screen and (min-width: 1280px) {
	.roundHead .top-logo img {
		margin-left: 439px;
	}
}
@media only screen and (min-width: 1366px) {
	.roundHead .top-logo img {
		margin-left: 476px;
		margin-top: 101px;
	}
}
@media only screen and (min-width: 1440px) {
	body {
		background-size: cover;
	}
	.roundHead .top-logo img {
		margin-left: 502px;
	    width: 436px;
	    margin-top: 102px;
	}
	#header .countdown {

		margin-top: 570px;

		margin-top: 550px;

	}
}
@media only screen and (min-width: 1680px) {
	.roundHead .top-logo img {
		margin-left: 602px;
	    width: 470px;
	    margin-top: 114px;
	}
	.roundHead .official img {
		margin-top: 27px;
    	width: 118px;
	}
	#header h1 {
		font-size: 44px;
	}
	#header .countdown {
		margin-top: 537px;
	}
}
@media only screen and (min-width: 1680px) {
	.roundHead .top-logo img {
		margin-left: 689px;
	    width: 550px;
	    margin-top: 134px;
	}
	#header .countdown {
		margin-top: 720px;
	}
	#header h1 {
		font-size: 60px;
	}
	.card-img img {
		width: 40%;
	}
}
@media only screen and (min-width: 2068px) {
	.roundHead .top-logo img {
		margin-left: 760px;
	    width: 538px;
	    margin-top: 160px;
	}
	#header .countdown {
		margin-top: 750px;
	}
	#header h1 {
		font-size: 64px;
	}
	.roundHead .official img {
		width: 183px;
	}
}
@media only screen and (min-width: 2560px) {
	.roundHead .top-logo img {
		margin-left: 965px;
	    width: 636px;
	    margin-top: 174px;
	}
	.roundHead .official img {
		width: 190px;
		margin-top: 45px;
	}
}
@media only screen and (min-width: 2880px) {
	.roundHead .top-logo img {
		margin-left: 1022px;
	    width: 804px;
	    margin-top: 202px;
	}
	#header .countdown {
		margin-top: 870px;
	}
	#header h1 {
		font-size: 68px;
	}
}